.questao{
    display: flex;
    justify-content: center;
}

.caixa{
    border: 3.2px solid rgb(57, 55, 55);
    border-radius: 20px;
    padding: 25px;
    margin: 25px;
    max-width: 600px;
    width: 400px;
}

.pergunta{
    padding: 20px;
    margin-bottom: 20px;
}

.title{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 20px;
}

